In [2]:

import pandas  as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
enhanced_news= pd.read_csv('/home/student/nlp-scraper/results/enhanced_news.csv')
enhanced_news['Topics'].unique()

array(['sport', 'entertainment', 'tech', 'politics', 'business'],
      dtype=object)

In [24]:
# enhanced_news.groupby('Date scraped')['URL'].count()
topic_counts = enhanced_news.groupby(['Date scraped', 'Topics']).size().reset_index(name='Count')

total_per_day = enhanced_news.groupby('Date scraped').size().reset_index(name='Total')

merged_df= pd.merge(topic_counts, total_per_day, on='Date scraped')
merged_df['proportion'] = merged_df['Count']/merged_df['Total']
# sns.histplot()




merged_df

   Date scraped         Topics  Count  Total  proportion
0    2025-01-23       business     15    106    0.141509
1    2025-01-23  entertainment     39    106    0.367925
2    2025-01-23       politics     36    106    0.339623
3    2025-01-23          sport     14    106    0.132075
4    2025-01-23           tech      2    106    0.018868
5    2025-01-24       business     17     97    0.175258
6    2025-01-24  entertainment     25     97    0.257732
7    2025-01-24       politics     33     97    0.340206
8    2025-01-24          sport     20     97    0.206186
9    2025-01-24           tech      2     97    0.020619
10   2025-01-25       business      7     59    0.118644
11   2025-01-25  entertainment     22     59    0.372881
12   2025-01-25       politics     15     59    0.254237
13   2025-01-25          sport     13     59    0.220339
14   2025-01-25           tech      2     59    0.033898
15   2025-01-26       business      5     49    0.102041
16   2025-01-26  entertainment     17     49    0.346939
17   2025-01-26       politics     15     49    0.306122
18   2025-01-26          sport     10     49    0.204082
19   2025-01-26           tech      2     49    0.040816
20   2025-01-27       business      5     41    0.121951
21   2025-01-27  entertainment     14     41    0.341463
22   2025-01-27       politics     15     41    0.365854
23   2025-01-27          sport      5     41    0.121951
24   2025-01-27           tech      2     41    0.048780

In [19]:
def convert_sentiment(sentiment_score):
    if sentiment_score >= 0.05:
        return 'Positve'
    elif sentiment_score <= -0.05:
        return 'Negative'
    else:
        return 'Neutral'

enhanced_news['Sentiment_str'] = enhanced_news['Sentiment'].apply(convert_sentiment)


sentiment_per_day = enhanced_news.groupby(['Date scraped', 'Sentiment_str' ])['Sentiment_str'].size()

sentiment_per_day_df = sentiment_per_day.reset_index(name='Count')

print(sentiment_per_day_df)


sentiment_per_day_df.to_csv("sentiment_per_day.csv", index=False)

   Date scraped Sentiment_str  Count
0    2025-01-23      Negative     44
1    2025-01-23       Neutral      4
2    2025-01-23       Positve     58
3    2025-01-24      Negative     44
4    2025-01-24       Neutral      1
5    2025-01-24       Positve     52
6    2025-01-25      Negative     15
7    2025-01-25       Neutral      4
8    2025-01-25       Positve     40
9    2025-01-26      Negative     22
10   2025-01-26       Positve     27
11   2025-01-27      Negative     17
12   2025-01-27       Neutral      1
13   2025-01-27       Positve     23

In [20]:
merged_df.to_csv("proportions.csv", index=False )

   Date scraped         Topics  Count  Total  proportion
0    2025-01-23       business     15    106    0.141509
1    2025-01-23  entertainment     39    106    0.367925
2    2025-01-23       politics     36    106    0.339623
3    2025-01-23          sport     14    106    0.132075
4    2025-01-23           tech      2    106    0.018868
5    2025-01-24       business     17     97    0.175258
6    2025-01-24  entertainment     25     97    0.257732
7    2025-01-24       politics     33     97    0.340206
8    2025-01-24          sport     20     97    0.206186
9    2025-01-24           tech      2     97    0.020619
10   2025-01-25       business      7     59    0.118644
11   2025-01-25  entertainment     22     59    0.372881
12   2025-01-25       politics     15     59    0.254237
13   2025-01-25          sport     13     59    0.220339
14   2025-01-25           tech      2     59    0.033898
15   2025-01-26       business      5     49    0.102041
16   2025-01-26  entertainment     17     49    0.346939
17   2025-01-26       politics     15     49    0.306122
18   2025-01-26          sport     10     49    0.204082
19   2025-01-26           tech      2     49    0.040816
20   2025-01-27       business      5     41    0.121951
21   2025-01-27  entertainment     14     41    0.341463
22   2025-01-27       politics     15     41    0.365854
23   2025-01-27          sport      5     41    0.121951
24   2025-01-27           tech      2     41    0.048780

In [72]:
import ast
enhanced_news['Number_of_companies']= enhanced_news['Org'].apply(lambda list_org_str: len(ast.literal_eval(list_org_str)))


date = enhanced_news['Date scraped'].unique()

dict={}
dict_org={}
for _, row in enhanced_news.iterrows():
    org_list= ast.literal_eval(row['Org']) 
    date= row['Date scraped']
    
    for org in org_list:

        if date in dict_org and org not in dict_org.get(date):
            list=dict_org.get(date)
            list.append(org)
            dict_org[date]= list
    
            if date in dict.keys():
                counter = dict.get(date) + 1
                dict[date]= counter
            else :
                dict[date]= 1

        elif date not in dict_org :
            dict_org[date]= [org]
        

print(dict) 
ls= dict_org['2025-01-25']
print(len(ls))

number_of_company= enhanced_news.groupby('Date scraped')['Number_of_companies'].sum().reset_index(name='Number_of_companies_per_day')

number_of_company

# plt.plot(number_of_company['Date scraped'])

{'2025-01-24': 415, '2025-01-25': 289, '2025-01-26': 236, '2025-01-27': 207, '2025-01-23': 425}
290

  Date scraped  Number_of_companies_per_day
0   2025-01-23                          709
1   2025-01-24                          692
2   2025-01-25                          458
3   2025-01-26                          372
4   2025-01-27                          306

In [21]:

# Plot des proportions par topic pour chaque jour
# fig, ax = plt.subplots(figsize=(10, 6))

# # Créer un graphique en barres avec les proportions
# for topic in merged_df['Topics'].unique():
#     topic_data = merged_df[merged_df['Topics'] == topic]
#     ax.bar(topic_data['Date scraped'], topic_data['proportion'], label=topic)

# # Ajouter des titres et labels
# ax.set_title('Proportion des Topics par Jour', fontsize=14)
# ax.set_xlabel('Date', fontsize=12)
# ax.set_ylabel('Proportion', fontsize=12)
# ax.legend(title="Topics")

# # Rotation des labels de l'axe X pour une meilleure lisibilité
# plt.xticks(rotation=45)

# # Afficher le graphique
# plt.tight_layout()
# plt.show()